2Parcial/EXAMEN_S/n8n-workflow/exam2p-audit-workflow.json
{
  "name": "exam2p-audit-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exam2p-audit-deletion",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "exam2p-audit-deletion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-delete",
              "leftValue": "={{ $json.data.exam2p_action || $json.event }}",
              "rightValue": "exam2p.audit.deletion",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Genera un mensaje de alerta breve y profesional en español para notificar que se ha eliminado un registro en el sistema. Datos: Entidad: {{ $json.data.exam2p_entity }}, ID del registro: {{ $json.data.exam2p_recordId }}, Usuario: {{ $json.data.exam2p_user }}, Detalle: {{ $json.data.exam2p_detail }}. El mensaje debe ser conciso y adecuado para enviar por Telegram.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "gemini-node",
      "name": "HTTP Request Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200],
      "credentials": {
        "httpQueryAuth": {
          "id": "gemini-api-key",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 *ALERTA DE AUDITORÍA - ELIMINACIÓN*\n\n{{ $json.candidates[0].content.parts[0].text }}\n\n📅 Timestamp: {{ $('Webhook').item.json.timestamp }}\n🏷️ Evento: exam2p.audit.deletion",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-node",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Webhook exam2p.audit.deletion procesado correctamente\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Evento ignorado - No es una acción DELETE\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "response-false-node",
      "name": "Respond False",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Gemini": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "exam2p",
      "createdAt": "2026-01-27T00:00:00.000Z",
      "updatedAt": "2026-01-27T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}
